<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Our Meetups take place monthly.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2016</h4>
                                    <h4 class="subheading">The Softwerkskammer Jena is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Several chats with the founders and maintainers of the [Agora platform](http://github.com/softwerkskammer/Agora) were going into details while the initial connection has been established for several years. As a result a new local group was created for Jena at [softwerkskammer.org](http://www.softwerkskammer.org/groups/jena) and the twitter channel. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2016</h4>
                                    <h4 class="subheading">MEETUP #001: Docker Party</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We visited the Docker Meetup in Berlin for the [3rd Docker Birthday](https://www.docker.com/community/docker-birthday-3) in Berlin upfront and brought that Party a week later to Jena. For this evening we even enhanced the single workshop character with a talk beforehand and three more workshops of our own. Our event got featured on the official Docker blog and a box with Docker shirts and different stickers was send to us from California. Unfortuntately persistent negotiations with the German custom offices delayed the delivery.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016</h4>
                                    <h4 class="subheading">MEETUP #002: A whole day of Coding Dojo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">TDD Talks & 5 Rounds of Coderetreat!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2016</h4>
                                    <h4 class="subheading">MEETUP #003: One evening with the Elastic Stack</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>