<!-- Services Section -->
    <section id="values">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Values</h2>
                    <h3 class="section-subheading text-muted">The Softwerkskammer Jena values are based on the Manifestos for <a href="http://manifesto.softwarecraftsmanship.org/">Softwarecraftsmanship</a>, <a href="http://www.agilemanifesto.org/">Agile Software Development</a> and our own empirical evidence.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Individuals &amp; Interactions</h4>
                    <p class="text-muted">Every human being is unique and brings something to the table.
                                          We value self-organisation, collaboration and open exchange.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Working Software</h4>
                    <p class="text-muted">Is more valueable than producing other artifacts.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Code &amp; Tools</h4>
                    <p class="text-muted">Well-written and -tested code is a sign of true craftsmanship.
                                          A good craftsman always picks the right tool for the job.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Continuous Development</h4>
                    <p class="text-muted">Does not only apply to software,
                                          but also to processes, tools, skills and the personal level.</p>
                </div>
            </div>
        </div>
    </section>
