<!-- Services Section -->
    <section id="values">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Values</h2>
                    <h3 class="section-subheading text-muted">Based on the <a href="http://manifesto.softwarecraftsmanship.org/">Manifesto for Software Craftsmanship</a> and <a href="http://www.agilemanifesto.org/">Agile Software Development</a> as well as our own empirical evidence.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Individuals &amp; Interactions</h4>
                    <p class="text-muted">Every human being is unique and thus may develop his own set of craftsman skills.
                                          We value self-organisation, a sense for collaboration and open exchange.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Working Software</h4>
                    <p class="text-muted">Functional Software is more valueable than producing other artifacts, like documents.
                                         The domain drives the value and enforces to quickly respond to changing requirements.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Code &amp; Tools</h4>
                    <p class="text-muted">Clean code does not exist without tests. 
                                        A sign of true craftsmanship is to always pick the fitting tool set for the project. 
                                        However: Focus on people, not tools. </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rotate-left fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Continuous Development</h4>
                    <p class="text-muted">Not only software, but also processes, tools, skills as well as individuals
                                    need and should always follow the path of constant improvement. Standstills are always steps backwards.</p>
                </div>
            </div>
        </div>
    </section>
